body{
    background-color:#ababab;
}

#canvas{

    width:980px;
    height:625px;
    margin:0 auto;
    background-color:#fff;

}

#camera{
    float:left;
    overflow:auto;
    height:625px;

}

#send_message{
    width: 500px;
    height: 25px;
}

#chat{
    float:left;
    display:block;
}